/*
Media query breakpoints can be used anywhere in SASS with the following syntax:

@include bp([alias or px value]) {
	// styles
}

Aliases: 
mobile - special case, see note below.
lap
desk
wide
 
All aliases check for min-width except 'mobile' which tests for max-width (try not to use if possible).
When using px values the media query is always for min-width.
*/

$min-width-mob: 621px;
$min-width-lap: 821px;
$min-width-desk: 1025px;
$min-width-wide: 1201px;
$min-width-full: 1681px;
