.post-content {
  font-size: 1.8rem;
  line-height: 1.75;
  font-weight: 300;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: getcolor('black');
    line-height: 1.5;
    margin: 0 0 2rem;
  }

  strong {
    font-weight: 500;
  }

  hr {
    margin: 3rem 0;
  }

  p {
    margin: 0 0 2rem;
  }

  ul,
  ol {
    padding: 0 0 0 4rem;
    margin: 0 0 2rem;
  }

  a {
    color: getcolor('black');
    font-weight: 500;
  }
}
