.home-hero {
  background-color: getcolor('white');
  padding: 0 3rem;
  border-radius: 0 0 12rem;

  @include bp(lap) {
    border-radius: 0 0 25rem;
  }

  @include bp(wide) {
    padding: 0 12rem;
  }

  &__container {
    max-width: 144rem;
    padding: 3rem 0;
    margin: 0 auto;

    @include bp(wide) {
      padding: 5rem 0 12rem;
    }
  }

  &__heading {
    color: getcolor('black');
    font-weight: 100;
    line-height: 1.3;

    @include bp(lap) {
      max-width: 75%;
    }

    @include bp(wide) {
      font-size: 7rem;
    }

    span {
      font-weight: 300;
    }
  }

  &__introduction {
    font-weight: 300;
    line-height: 1.5;

    @include bp(lap) {
      max-width: 40%;
    }

    @include bp(desk) {
      font-size: 2.2rem;
    }
  }
}

.what-we-do {
  &__intro {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 5rem;

    @include bp(desk) {
      max-width: 50%;
    }

    @include bp(wide) {
      max-width: 33.33%;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__links,
  &__link {
    border-style: solid;
    border-color: getcolor('ui-grey');
  }

  &__links {
    border-width: 0.1rem 0 0 0.1rem;

    @include bp(lap) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__link {
    color: getcolor('slate');
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 4rem 3rem;
    border-width: 0 0.1rem 0.1rem 0;
    cursor: pointer;
    user-select: none;
    transition: box-shadow 0.2s linear;

    @include bp(lap) {
      flex-basis: 50%;
    }

    @include bp(desk) {
      flex-basis: 33.33%;
    }

    @include bp(wide) {
      flex-basis: 25%;
    }

    &:hover {
      box-shadow: 0 0 4rem rgb(getcolorrgb('black') / 15%);
    }

    &__icon {
      background-color: getcolor('wheat-flour');
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 1;
      width: 100%;
      max-width: 12rem;
      border-radius: 50%;
      margin-bottom: 3rem;

      &::before {
        content: '';
        display: block;
        aspect-ratio: 1;
        width: 54%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }

      &--insight {
        &::before {
          background-image: url('../images/icons/menu-item/icon-insight.svg');
        }
      }

      &--employer-brand {
        &::before {
          background-image: url('../images/icons/menu-item/icon-employer-brand.svg');
        }
      }

      &--recruitment-marketing {
        &::before {
          background-image: url('../images/icons/menu-item/icon-recruitment-marketing.svg');
        }
      }

      &--employee-experience {
        &::before {
          background-image: url('../images/icons/menu-item/icon-employee-experience.svg');
        }
      }

      &--creative-design {
        &::before {
          background-image: url('../images/icons/menu-item/icon-creative-design.svg');
        }
      }

      &--social {
        &::before {
          background-image: url('../images/icons/menu-item/icon-social.svg');
        }
      }

      &--email-services {
        &::before {
          background-image: url('../images/icons/menu-item/icon-email-services.svg');
        }
      }

      &--websites {
        &::before {
          background-image: url('../images/icons/menu-item/icon-websites.svg');
        }
      }
    }

    &__heading {
      color: getcolor('black');
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
      margin: 0 0 1rem;
    }

    &__content {
      font-weight: 300;
      line-height: 1.75;
      text-align: center;

      > *:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.home-acs {
  @include bp(lap) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    line-height: 1.75;
    font-weight: 300;

    @include bp(lap) {
      @include anim-fade-in;
    }

    @include bp(full) {
      padding-right: 12rem;
    }

    h3 {
      color: getcolor('black');
      font-size: 2.4rem;
      line-height: 1.3;
      font-weight: 100;
      margin: 0 0 3rem;

      @include bp(desk) {
        font-size: 4rem;
      }

      span {
        font-weight: 300;
      }
    }
  }

  &__subheading {
    color: getcolor('black');
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 3rem;
  }

  &__description {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.75;
    margin: 0 0 5rem;
  }

  &__image {
    aspect-ratio: 1.33;
    width: 100%;
    margin-bottom: 4rem;
    border-radius: 2.77% / 3.7%;
    border-top-right-radius: 20.83% 27.77%;
    overflow: hidden;

    @include bp(lap) {
      flex-basis: 50%;
      flex-shrink: 0;
      width: 50%;
      margin-right: 6rem;

      @include anim-fade-left;
    }

    @include bp(desk) {
      margin-right: 12rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.who-we-are {
  background-color: getcolor('wheat-flour');
  border-radius: 0 12rem 1rem 0;
  padding: 10rem 0 13rem;

  @include bp(lap) {
    border-radius: 0 25rem 1rem 0;
  }

  > h2 {
    color: getcolor('black');
    margin: 0 0 5.5rem;
  }

  .decorator-home-wwa {
    margin-bottom: 8rem;
    margin-right: 1.5rem;

    @include bp(mob) {
      margin-right: -6rem;
    }

    @include bp(desk) {
      margin-right: -12rem;
    }
  }

  &__content-wrapper {
    margin-right: 1.5rem;

    @include bp(mob) {
      margin-right: -6rem;
    }

    @include bp(desk) {
      margin-right: -12rem;
    }
  }

  &__content {
    @include bp(lap) {
      padding-left: 33.33%;
    }

    > p {
      font-size: 1.8rem;
      line-height: 1.75;
      font-weight: 300;
      max-width: 40rem;
      margin: 0 0 5rem;
    }
  }
}

.brands {
  &__intro {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.75;
    margin-bottom: 8rem;

    @include bp(mob) {
      max-width: 50%;
    }

    @include bp(wide) {
      max-width: 33.33%;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 4rem 1rem;
    margin-bottom: 7rem;

    @include bp(mob) {
      gap: 10rem;
    }

    @include bp(desk) {
      margin-bottom: 7rem;
    }

    &__logo {
      aspect-ratio: 100 / 45;
      max-width: 15rem;
      user-select: none;

      @include bp(mob) {
        max-width: 20rem;
      }

      @include anim-fade-up;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
