.work-search {
  &__form {
    margin-bottom: 9rem;

    select {
      appearance: none;
      display: inline-block;
      height: 6rem;
      background: url('../images/icons/icon-menu-arrow.svg') no-repeat center
        right 4rem getcolor('white');
      font-size: 1.8rem;
      line-height: 1.5;
      font-weight: 300;
      border: 0.1rem solid getcolor('ui-grey');
      border-radius: 3rem;
      padding: 1.5rem 6rem 1.5rem 4rem;
      cursor: pointer;

      &:focus-visible {
        outline: 0.2rem solid getcolor('black');
      }
    }
  }

  &__results {
    @include bp(mob) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1.5rem;
    }
  }

  &__post {
    display: block;
    color: getcolor('slate');
    text-decoration: none;
    margin-bottom: 6rem;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    @include bp(mob) {
      flex-basis: calc(50% - 3rem);
      margin: 0 1.5rem 6rem;
    }

    @include bp(lap) {
      flex-basis: calc(33.33% - 3rem);
      margin: 0 1.5rem 8rem;
    }

    &__image {
      background: url('../images/logo-leap-create.svg') no-repeat center
        getcolor('slate');
      background-size: 12rem auto;
      aspect-ratio: 16 / 9;
      margin-bottom: 3rem;
      border-radius: 1rem;
      overflow: hidden;

      @include bp(lap) {
        aspect-ratio: 23 / 30;
        border-radius: 2rem;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1);
        transition: transform 0.5s ease-in-out;
      }
    }

    &__client {
      display: flex;
      align-items: center;
      color: getcolor('black');
      line-height: 1.5;
      margin-bottom: 0.5rem;

      &::before {
        content: '';
        background-color: getcolor('peach-tea');
        display: block;
        width: 1.2rem;
        height: 0.2rem;
        margin-right: 0.8rem;
      }
    }

    &__heading {
      color: getcolor('black');
      font-size: 2rem;
      font-weight: 300;
      line-height: 1.5;
      margin: 0;

      @include bp(desk) {
        font-size: 2.6rem;
      }
    }

    &:hover {
      .work-search {
        &__post {
          &__image {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
    }

    &:first-child {
      @include bp(mob) {
        flex-basis: calc(100% - 3rem);
        margin: 0 1.5rem 12rem;
      }

      @include bp(lap) {
        flex-basis: calc(100% - 3rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 12rem;
      }

      .work-search {
        &__post {
          &__image {
            max-height: 60rem;

            @include bp(lap) {
              order: 2;
              aspect-ratio: unset;
              height: 100%;
              width: 100%;
              border-radius: 2rem;
              margin-bottom: 0;
            }

            img {
              transition: none;
            }
          }

          &__content {
            order: 1;
            flex-basis: 33.33%;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            @include bp(desk) {
              padding: 8rem 0;
            }
          }

          &__client {
            margin-bottom: 2rem;
          }

          &__heading {
            margin-bottom: 3rem;

            @include bp(desk) {
              font-size: 4rem;
              line-height: 1.3;
            }
          }

          &__excerpt {
            font-size: 1.8rem;
            line-height: 1.75;
            font-weight: 300;
            margin-bottom: 3rem;

            @include bp(desk) {
              margin-bottom: 5rem;
            }
          }
        }
      }

      &:hover {
        .work-search {
          &__post {
            &__image {
              img {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}
