.hero {
  background-color: getcolor('white');
  padding: 0 3rem;
  border-radius: 0 0 5rem;

  @include bp(lap) {
    border-radius: 0 0 15rem;
  }

  @include bp(desk) {
    border-radius: 0 0 25rem;
  }

  @include bp(wide) {
    padding: 0 12rem;
  }

  &__container {
    max-width: 144rem;
    padding: 3rem 0 6rem;
    margin: 0 auto;

    @include bp(wide) {
      padding: 3.5rem 0 8rem;
    }
  }

  .breadcrumbs {
    margin-bottom: 5rem;
  }

  &__wrapper {
    @include bp(mob) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 6rem;
    }

    @include bp(desk) {
      gap: 12rem;
    }
  }

  &__decorator {
    margin-bottom: 3rem;
    width: 33%;

    @include bp(mob) {
      order: 2;
      width: 100%;
      max-width: 20rem;
      margin-bottom: 0;
    }

    @include bp(lap) {
      margin-right: 6rem;
      max-width: 30rem;
    }

    @include bp(desk) {
      margin-right: 12rem;
    }

    > * {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__content {
    @include bp(mob) {
      flex-basis: 66.66%;
      order: 1;
    }

    &__heading {
      font-weight: 100;
      color: getcolor('black');
      margin: 0 0 3rem;

      span {
        font-weight: 300;
      }
    }

    &__introduction {
      font-size: 2.2rem;
      font-weight: 300;
      line-height: 1.5;
      margin: 0;
      max-width: 60rem;
    }
  }

  &--post {
    border-radius: 0;

    @include bp(lap) {
      border-radius: unset;
    }

    @include bp(desk) {
      border-radius: unset;
    }

    .hero {
      &__heading {
        font-weight: 100;
        text-align: center;
        max-width: 72rem;
        margin: 5rem auto 3rem;

        span {
          font-weight: 300;
        }
      }

      &__introduction {
        font-size: 2.2rem;
        font-weight: 300;
        line-height: 1.5;
        text-align: center;
        max-width: 72rem;
        margin: 0 auto;
      }
    }
  }

  &--work {
    border-radius: unset;

    @include bp(lap) {
      border-radius: unset;
    }

    @include bp(desk) {
      border-radius: unset;
    }
  }

  &--podcasts {
    .hero {
      &__content {
        @include bp(lap) {
          flex-basis: 41.66%;
          order: 1;
        }
      }
    }
  }

  &--wordpress {
    .hero {
      &__decorator {
        margin-right: 0;

        @include bp(full) {
          min-width: 50rem;
        }
      }

      &__content {
        &__introduction {
          max-width: 72rem;
          font-size: 1.8rem;
          line-height: 1.75;
          margin-bottom: 6.8rem;
        }
      }
    }
  }

  &--acs {
    background-color: getcolor('green');
    border-radius: 0 0 0 5rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: getcolor('white');
    }

    @include bp(lap) {
      border-radius: 0 0 0 5rem;
    }

    @include bp(desk) {
      border-radius: 0 0 0 5rem;
    }

    @include bp(wide) {
      border-radius: 0 0 0 25rem;
    }

    .hero {
      &__image {
        aspect-ratio: 1.33;
        width: 100%;
        margin-bottom: 3rem;
        border-radius: 2.77% / 3.7%;
        border-top-right-radius: 20.83% 27.77%;
        overflow: hidden;

        @include anim-fade-right;

        @include bp(mob) {
          order: 2;
          margin-bottom: 0;
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.hero-post-image {
  background: linear-gradient(
    to bottom,
    getcolor('white') 0%,
    getcolor('white') 50%,
    transparent 50%,
    transparent 100%
  );

  @include bp(lap) {
    padding: 0 3rem;
  }

  @include bp(wide) {
    padding: 0 12rem;
  }

  &__container {
    aspect-ratio: 1.92;
    max-width: 144rem;
    margin: 0 auto;
    overflow: hidden;

    @include bp(lap) {
      border-radius: 2rem;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.breadcrumbs {
  color: getcolor('mint');
  font-weight: 300;
  user-select: none;

  > span {
    margin: 0 -0.5rem;

    & > span {
      margin: 0 0.5rem;
    }
  }

  a {
    color: getcolor('slate');
    text-decoration: none;
  }

  .breadcrumb_last {
    color: getcolor('black');
  }
}
